@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#app-shell {
	height: 100vh;
	background-color: red;
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
	color: #bbb;
	background-color: #1E1F25;
}
