@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,800);
.error404 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error404 h1 {
	font-family: var(--font-family);
	text-align: center;
}

.error404__message {
	text-align: center;
	font-family: var(--font-family);
	margin-top: 70px;
	font-size: 1.2rem;
	width: 450px;
}

.error404__message a {
	color: rgb(103,58,182);
	line-height: 1.5;
	text-decoration: none;
	margin-top: 50px;
	letter-spacing: 1px;
}

.error404__section {
	text-align: center;
	font-size: 180px;
	font-family: var(--font-family);
	font-weight: 800;
	margin: 20px 15px;
}

.error404__section>span {
	display: inline-block;
	line-height: 0.7;
	position: relative;
	color: rgb(32,150,243);
}

.error404__section>span>span {
	display: inline-block;
	position: relative;
}

.error404__section>span:nth-of-type(1) {
	perspective: 1000px;
	perspective-origin: 500% 50%;
	color: rgb(103,58,182);
}

.error404__section>span:nth-of-type(1)>span {
	transform-origin: 50% 100% 0px;
	transform: rotateX(0);
	animation: easyoutelastic 8s infinite;
}

.error404__section>span:nth-of-type(3) {
	perspective: none;
	perspective-origin: 50% 50%;
	color: rgb(103,58,182);
}

.error404__section>span:nth-of-type(3)>span {
	transform-origin: 100% 100% 0px;
	transform: rotate(0deg);
	animation: rotatedrop 8s infinite;
}


@keyframes easyoutelastic {
	0% {
		transform: rotateX(0);
	}

	9% {
		transform: rotateX(210deg);
	}

	13% {
		transform: rotateX(150deg);
	}

	16% {
		transform: rotateX(200deg);
	}

	18% {
		transform: rotateX(170deg);
	}

	20% {
		transform: rotateX(180deg);
	}

	60% {
		transform: rotateX(180deg);
	}

	80% {
		transform: rotateX(0);
	}

	100% {
		transform: rotateX(0);
	}
}

@keyframes rotatedrop {
	0% {
		transform: rotate(0);
	}

	10% {
		transform: rotate(30deg);
	}

	15% {
		transform: rotate(90deg);
	}

	70% {
		transform: rotate(90deg);
	}

	80% {
		transform: rotate(0);
	}

	100% {
		transform: rotateX(0);
	}
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


:root {
	--font-family: "Roboto" ,sans-serif;
	--yellow: hsl(45, 100%, 50%);
	--charcoal: hsl(0, 0%, 25%);
	--grey:hsl(210, 31%, 95%);
	--white: hsl(0, 0%, 100%);
	--theme-highlight-color: var(--yellow);
	--theme-text-color: var(--charcoal);
	--theme-background-color: var(--grey);
	--pure-material-primary-rgb: 255, 191, 0;
    --pure-material-onsurface-rgb: 0, 0, 0;
}

#app-shell {
	height: 100vh;
	font-family: var(--font-family);
	overflow: hidden;
	color: var(--theme-text-color);
	background-color: var(--theme-background-color);
}

